<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.mapper.PurchaseMapper">

    <!-- 사용자 ID로 구매 내역 조회 -->
    <select id="findPurchasesByUserId" resultMap="purchaseResultMap">
        SELECT
            p.purchaseId AS purchase_Id,
            p.impUid,
            p.merchantUid,
            p.userId,
            p.date,
            p.totalAmount,
            p.paymentMethod,
            p.status,
            i.foodId AS item_foodId,
            i.foodName AS item_foodName,
            i.quantity AS item_quantity,
            i.price AS item_price
        FROM purchase p
                 LEFT JOIN item i ON p.purchaseId = i.purchaseId
        WHERE p.userId = #{userId}
    </select>

    <!-- 구매 결과 매핑 -->
    <resultMap id="purchaseResultMap" type="com.food.dto.PurchaseDTO">
        <id property="purchaseId" column="purchaseId"/>
        <result property="impUid" column="impUid"/>
        <result property="merchantUid" column="merchantUid"/>
        <result property="userId" column="userId"/>
        <result property="date" column="date"/>
        <result property="totalAmount" column="totalAmount"/>
        <result property="paymentMethod" column="paymentMethod"/>
        <result property="status" column="status"/>
        <collection property="items" ofType="com.food.dto.ItemDTO">
            <result property="foodId" column="item_foodId"/>
            <result property="foodName" column="item_foodName"/>
            <result property="quantity" column="item_quantity"/>
            <result property="price" column="item_price"/>
        </collection>
    </resultMap>

    <!-- 사용자 impUid로 데이터 내역 조회 -->
    <select id="findByImpUid" resultType="com.food.dto.PurchaseDTO">
        SELECT
            p.impUid,
            p.purchaseId AS purchase_Id,
            p.merchantUid,
            p.userId,
            p.date,
            p.totalAmount,
            p.paymentMethod,
            p.status
        FROM purchase p
        WHERE p.impUid = #{impUid}
    </select>

    <!-- 구매 데이터 저장 -->
    <insert id="insertPurchase" useGeneratedKeys="true" keyProperty="purchaseId">
        INSERT INTO purchase (impUid, purchaseId, merchantUid, userId, date, totalAmount, paymentMethod, status)
        VALUES (#{purchase.impUid}, #{purchase.purchaseId}, #{purchase.merchantUid}, #{purchase.userId}, #{purchase.date}, #{purchase.totalAmount}, #{purchase.paymentMethod}, #{purchase.status})
    </insert>

    <!-- 아이템 데이터 저장 -->
    <insert id="insertItem">
        INSERT INTO item (purchaseId ,foodId, foodName, quantity, price, itemId)
        VALUES (#{item.purchaseId}, #{item.foodId}, #{item.foodName}, #{item.quantity}, #{item.price}, #{item.itemId})
    </insert>

    <!-- 기한 만료된 결제 -->
    <select id="findExpiredPayments" resultType="com.food.dto.PurchaseDTO">
        SELECT * FROM purchase
        WHERE TIMESTAMPDIFF(MINUTE, date , NOW()) >= 60;
    </select>

    <!-- 상품 테이블 삭제 -->
    <delete id="deleteItemsByPurchaseId">
        DELETE FROM item WHERE purchaseId = #{purchaseId}
    </delete>

    <!-- 구매 테이블 삭제 -->
    <delete id="deletePurchaseById">
        DELETE FROM purchase WHERE purchaseId = #{purchaseId}
    </delete>

</mapper>
